.video__item-subtitle {
  margin: 0 0 0 30px;
  font-size: 14px;
  line-height: 15px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 990px) {
  .video__item-subtitle {
    margin: 0 0 20px 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__item-subtitle {
    margin: 0 0 14 16px;
  }
}
