.footer__link {
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .footer__link {
    padding-bottom: 14px;
    padding-left: 5px;
  }
}
