.footer__text {
  font-size: 24px;
  line-height: 41px;
}

@media screen and (max-width: 990px) {
  .footer__text {
    font-size: 16px;
    line-height: 27px;
  }
}

@media screen and (max-width: 700px) {
  .footer__text {
    font-size: 24px;
    line-height: 41px;
  }
}
