@import url('_type/video__icon_type_play.css');
.video__icon {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-top: 30px;
  margin-left: 30px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 990px) {
  .video__icon {
    margin-top: 24px;
    margin-left: 24px;
    width: 42px;
    height: 42px;
  }
}

@media screen and (max-width: 320px) {
  .video__icon {
    margin-top: 16px;
    margin-left: 16px;
  }
}
