@import url('__author/comment__author.css');
@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');


@media screen and (max-width: 990px) {

  .comment {
    max-width: 58%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
  }
  .comment:last-child {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  .comment {
    max-width: 100%;
  }
}
