.lead__image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    height: fit-content;
  }
}

@media screen and (max-width: 990px) {
  .lead__image {
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    min-height: 211px;
  }
}
