@import url('__title/place__title.css');
@import url('__text/place__text.css');
@import url('__image/place__image.css');
@import url('__paragraph/place__paragraph.css');
.place {
  display: grid;
  grid-template-columns: minmax(auto, 460px) 1fr;
  grid-auto-rows: auto 1fr;
  row-gap: 60px;
  column-gap: 40px;
  margin-bottom: 72px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(auto, 440px) 1fr;
    row-gap: 40px;
    column-gap: 32px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 990px) {
  .place {
    grid-template-columns: minmax(auto, 340px) 1fr;
    column-gap: 28px;
    row-gap: 44px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 700px) {
 .place {
   display: block;
   margin-bottom: 48px;
 }
}
