.comment__image {
  border-radius: 50%;
}

@media screen and (max-width: 990px) {
  .comment__image {
    max-width: 120px;
    width: 25%;
    height: auto;
    order: 1;
  }
}

@media screen and (max-width: 700px) {
  .comment__image {
    width: 28%;
    max-width: 120px;
  }
}

@media screen and (max-width: 320px) {
  .comment__image {
    width: 32%;
  }
}
